name: Deploy to Kubernetes

on:
  #push:
  workflow_dispatch: 
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up kubectl
      uses: azure/setup-kubectl@v4
      with:
        version: v1.29.0

    - name: Configure kubeconfig
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > $HOME/.kube/config

    - name: Deploy to Kubernetes
      run: |
        - name: Deploy Namespace
          run: kubectl apply -f champ-devops-mini-project/k8s-namespace.yaml
        - name: Deploy App
          run: kubectl apply -f champ-devops-mini-project/
        - name: Verify Rollout
          run: kubectl rollout status deployment/champ-web -n champ-mini-project


